<mat-card *ngIf="forecast && currentConditions; else noDataMessage" class="forecasts-card">
  <div class="header-section">
    <div class="weather-info">
      <div class="weather-icon">ICON</div>
      <div class="info">
        <p class="city-name">{{selectedCity.LocalizedName}}</p>
        <p>{{currentConditions?.Temperature.Metric.Value}} <span>&#176;</span>C</p>
      </div>
    </div>

    <div class="add-to-favorites">
      <mat-icon class="favorite-icon" (click)="toggleFavorite()">{{isCityInFavorites(selectedCity) ? 'favorite' : 'favorite_border'}}</mat-icon>
      <button class="favorite-btn" (click)="toggleFavorite()" mat-stroked-button color="warn">{{isCityInFavorites(selectedCity) ? 'Remove From Favorites' : 'Add to Favorites'}}</button>
    </div>
  </div>
  <div class="main-section">{{forecast.Headline.Text}}</div>
  <div class="cards-section">
    <div class="weather-card" *ngFor="let forecast of forecast.DailyForecasts">
      <app-weather-card
        [page]="pageEnum.HOME"
        [temperature]="forecast.Temperature.Minimum.Value"
        [date]="forecast.Date"
      ></app-weather-card>
    </div>
  </div>
</mat-card>

<ng-template #noDataMessage>
  <p class="data-unavailable">data unavailable</p>
</ng-template>
