:host {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
}
.forecasts-card {
  .data-unavailable {
    text-align: center;
    color: #f44336;
  }
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .weather-info {
      display: flex;
      .weather-icon {
        width: 70px;
        height: 70px;
        border: 1px solid;
        margin-right: 15px;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          margin: 0;
        }
        .city-name {
          margin-bottom: 10px;
        }
      }
    }
    .favorite-icon {
      &:hover {
        cursor: pointer;
      }
    }
    .add-to-favorites {
      display: flex;
      align-items: center;
      .mat-icon {
        margin-right: 10px;
        height: 35px;
        width: 35px;
        font-size: 30px;
        color: #f44336;
      }
    }
  }
  .main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cards-section {
    display: flex;
    justify-content: space-between;
  }
}


// Small devices 320px and up
@media (min-width: 320px) {
  .forecasts-card {
    width: auto;
    height: auto;
    .favorite-btn {
      display: none;
    }
    .main-section {
      height: 30%;
      font-size: 25px;
    }
    .cards-section {
      flex-direction: column;
      align-items: center;
      .weather-card {
        width: 90%;
        margin-bottom: 25px;
        height: unset;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .forecasts-card {
    width: 75%;
    height: 65%;
    .favorite-btn {
      display: block;
    }
    .main-section {
      height: 50%;
    }
    .cards-section {
      flex-direction: row;
      .weather-card {
        width: 18%;
        height: 100px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .weather-card {
    font-size: 20px;
  }
  .forecasts-card {
    .main-section {
      height: 55%;
      font-size: 30px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .weather-card {
    font-size: 26px;
  }
  .forecasts-card {
    width: 60%;
    height: 75%;
    .main-section {
      font-size: 44px;
    }
  }
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  .weather-card {
    height: 140px;
    font-size: 30px;
  }
  .forecasts-card {
    .main-section {
      height: 48%;
      font-size: 54px;
    }
  }
}
