:host ::ng-deep {
  .mat-toolbar-row, .mat-toolbar-single-row {
    justify-content: space-between;
  }

  .mat-button-toggle-group, .mat-button-toggle-standalone {
    font-size: 16px;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: unset;
  }
}

// Small devices 320px and up
@media (min-width: 320px) {
  .desktop-links {
    display: none;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .desktop-links {
    display: block;
  }
  .mobile-links {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {

}

