:host {
  display: flex;
  padding: 50px 10%;
  flex-wrap: wrap;
  align-items: center;
}

.weather-card {
  margin: 0 5% 5% 0;
  &:hover {
    cursor: pointer;
  }
  &:nth-child(5n+5) {
    margin-right: 0;
  }
}

// Small devices 320px and up
@media (min-width: 320px) {
  :host {
    flex-direction: column;
  }
  .weather-card {
    width: 90%;
    font-size: 25px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  :host {
    flex-direction: row;
  }
  .weather-card {
    width: 45%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .weather-card {
    width: 28%;
    &:nth-child(5n+5) {
      margin-right: 5%;
    }
  }
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  .weather-card {
    width: 15%;
  }
}
