.weather-card {
  height: 100%;
}
:host {
  width: 100%;
}

.home-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  .day {
    margin-bottom: 10px;
  }
}

.favorites-weather-card {
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //font-size: 30px;
  p {
    margin: 0;
  }
  .city {
    margin-bottom: 10px;
  }
  .weather {
    margin: 15px 0;
  }
}
